<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    </head>
    <style>
       body {
           background-color: #343434;
           color: #FFF;
           margin: 0px;
           padding: 0px;
       }

        .section {
            width: 800px;
            margin-left: auto;
            margin-right: auto;
            height: 170px;
            margin-bottom: 50px;
            border-radius: 5px;
            background-color: transparent;
        }

        .title {
            padding-top: 50px;
            padding-bottom: 45px;
            font-size: 48px;
            width: 100%;
            text-align: center;
            font-family: 'Work Sans', sans-serif;
            font-weight: 300;
            margin-left: auto;
            margin-right: auto;
        }

        .desc {
            width: 72%;
            float:right;
            height: 100%;
            background-color: #EFEFEF;
            border-radius: 0px 5px 5px 0px;
        }

        .sub-title {
            font-weight: 500;
            font-size: 26px;
        }

        .feature-text {
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
            padding-top: 10px;
            padding-left: 30px;
            padding-right: 40px;
            font-family: 'Work Sans', sans-serif;
            font-weight: 400;
            font-size: 24px;
            color: #333;
            line-height: 1.5;
        }

        .icon {
            margin-left: 30px;
            height: 170px;
        }

        .signout {
            position: absolute;
            right: 10px;
            top: 10px;
            text-decoration: none;
            padding: 7px; border-radius: 5%;
        }

        #schedule-section {
            background-color: #3FC380;
        }

        #schedule-text {
            padding-top: 5px;
           font-size: 20px;
        }

        .ggl {
            float: right;
            font-size: 12px;
        }

        #weatherloc {
            font-size: 20px;
            margin-top: 5px;
            font-weight: 700;
        }
    </style>
    <body>
        <a class="signout mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
           href="{{ url_for('user.logout') }}">
            Sign out
        </a>
        <div class="title">Persona</div>

        <div class="section" id="weather-section">
            <div class="desc">
                <div class="feature-text" id="weather-text">
                    <div class="sub-title">
                        <span style="display: inline-block;">Weather</span>
                        <span style="display: inline-block; float: right;" id="weatherloc"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="schedule-section">
            <div class="clock">
              <div class="center"></div>
              <div class="hour"></div>
              <div class="minute"></div>
              <div class="second"></div>
            </div>
            <div class="desc">
                <div class="feature-text" id="schedule-text">
                    <div class="sub-title">
                        <span style="display: inline-block;">Schedule</span>
                        <button class="ggl mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="authorize-button" style="display: none;">Connect Google Calendar</button>
                        <button class="ggl mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="signout-button" style="display: none;">Disconnect Google Calendar</button>
                    </div>

                </div>
            </div>
        </div>
    <!--Add buttons to initiate auth sequence and sign out-->


    <pre id="content"></pre>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">


                var icons = {
                        "sun-shower" : "<div class='icon sun-shower'> \
                                          <div class='cloud'></div> \
                                          <div class='sun'> \
                                            <div class='rays'></div> \
                                          </div> \
                                          <div class='rain'></div> \
                                        </div>",
                          "thunder" : "<div class='icon thunder-storm'>\
                                        <div class='cloud'></div>\
                                        <div class='lightning'>\
                                          <div class='bolt'></div>\
                                          <div class='bolt'></div>\
                                        </div>\
                                      </div>",
                          "clouds" : "<div class='icon cloudy'>\
                                        <div class='cloud'></div>\
                                        <div class='cloud'></div>\
                                      </div>",
                          "snow" :  "<div class='icon flurries'>\
                                        <div class='cloud'></div>\
                                        <div class='snow'>\
                                          <div class='flake'></div>\
                                          <div class='flake'></div>\
                                        </div>\
                                      </div>",
                          "sunny" :   "<div class='icon sunny'>\
                                        <div class='sun'>\
                                          <div class='rays'></div>\
                                        </div>\
                                      </div>",
                          "rain" : "<div class='icon rainy'>\
                                  <div class='cloud'></div>\
                                  <div class='rain'></div>\
                                </div>"
        };

        var needsInter = [
            'tornado', 'clear sky', 'tropical storm', 'hurricane',
            'few clouds', "thunderstorm with light rain", "thunderstorm with rain",
            "thunderstorm with heavy rain", "light thunderstorm",  "thunderstorm",
            "heavy thunderstorm", "ragged thunderstorm", "thunderstorm with light drizzle",
            "thunderstorm with drizzle", "thunderstorm with heavy drizzle",
            "storm", "violent storm"
        ];


        function setWeather(current, next, future) {
            var markup, bk, pbk;
            switch(current.weather[0].main) {
                case "Clear":
                    markup = icons['sunny'];
                    bk = '#59ABE3';
                    pbk = '#3A539B';
                    break;
                case "Clouds":

                    markup = icons['clouds'];
                    bk = '#59ABE3';
                    pbk = '#3A539B';
                    if (current.weather[0].description.indexOf('overcast' ) != -1) {
                        bk = '#95A5A6';
                        pbk = '#343434';
                    }
                    break;
                case "Rain":
                    markup = icons['rain'];
                    bk = '#95A5A6';
                    pbk = '#343434';
                    break;
                case "Thunder":
                    markup = icons['thunder'];
                    bk = '#95A5A6';
                    pbk = '#343434';
                    break;
                case "Snow":
                    markup = icons['snow'];
                    bk = '#6C7A89';
                    pbk = '#343434';
                    break;
                case "Mist":
                    markup = icons['rain'];
                    bk = '#95A5A6';
                    pbk = '#343434';
                    break;
            }
            $('#weather-section').append(markup);
            $('#weather-section').css('background-color', bk);
            $('body').css('background-color', pbk);
            inter = "";
            if (needsInter.indexOf(current.weather[0].description) != -1) {
                inter = "a ";
            }
            var desc = "Right now, there's " + inter +
                "<span style='font-weight: 500;'>" + current.weather[0].description + "</span>.<br> It's " +
               " <span style='font-weight: 500;'> " + Math.round(current.main.temp).toString() +
                "°</span> right now, and it will ";
            var future_pr = "";
            var ft = (next.main.temp + future.main.temp)/2;
            var diff = ft - current.main.temp;
            var adiff = Math.abs(diff);
            if (adiff < 7) {
                future_pr = " stay about the same for the next couple hours.";
            } else {
                future_pr = (10 * Math.round(adiff/10)).toString() + "° during the next couple hours.";
                if (diff > 0) {
                    future_pr = " heat up about " + future_pr;
                } else {
                    future_pr = " cool down about " + future_pr;
                }
            }
            desc = desc + future_pr;
            $('#weather-text').append(desc);
        }
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var lat = Math.trunc(position.coords.latitude);
                var long =  Math.trunc(position.coords.longitude);
                var w = $.get(
                   "http://api.openweathermap.org/data/2.5/forecast?lat=" + lat.toString()
                    + "&lon=" + long.toString() + "&appid=c0622a2f83cc4ad99dcce7a500543def&units=imperial",
                    success = function(res) {
                       console.log(res);
                       $('#weatherloc').text(res.city.name + ", " + res.city.country);
                       var current = res.list[0];
                       var next = res.list[1];
                       var future = res.list[2];
                       $('.header').append(setWeather(current, next, future));
                    }
                );
            });
        } else {
          alert("Location data not available.");
        }

      // Client ID and API key from the Developer Console
      var CLIENT_ID = '{{ google_api_key }}';

      // Array of API discovery doc URLs for APIs used by the quickstart
      var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];

      // Authorization scopes required by the API; multiple scopes can be
      // included, separated by spaces.
      var SCOPES = "https://www.googleapis.com/auth/calendar.readonly";

      var authorizeButton = document.getElementById('authorize-button');
      var signoutButton = document.getElementById('signout-button');

      /**
       *  On load, called to load the auth2 library and API client library.
       */
      function handleClientLoad() {
        gapi.load('client:auth2', initClient);
      }

      /**
       *  Initializes the API client library and sets up sign-in state
       *  listeners.
       */
      function initClient() {
        gapi.client.init({
          discoveryDocs: DISCOVERY_DOCS,
          clientId: CLIENT_ID,
          scope: SCOPES
        }).then(function () {
          // Listen for sign-in state changes.
          gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

          // Handle the initial sign-in state.
          updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
          authorizeButton.onclick = handleAuthClick;
          signoutButton.onclick = handleSignoutClick;
        });
      }

      /**
       *  Called when the signed in status changes, to update the UI
       *  appropriately. After a sign-in, the API is called.
       */
      function updateSigninStatus(isSignedIn) {
        if (isSignedIn) {
          authorizeButton.style.display = 'none';
          signoutButton.style.display = 'inline-block';
          listUpcomingEvents();
        } else {
          authorizeButton.style.display = 'inline-block';
          signoutButton.style.display = 'none';
        }
      }

      /**
       *  Sign in the user upon button click.
       */
      function handleAuthClick(event) {
        gapi.auth2.getAuthInstance().signIn();
      }

      /**
       *  Sign out the user upon button click.
       */
      function handleSignoutClick(event) {
        gapi.auth2.getAuthInstance().signOut();
      }

      /**
       * Append a pre element to the body containing the given message
       * as its text node. Used to display the results of the API call.
       *
       * @param {string} message Text to be placed in pre element.
       */

      /**
       * Print the summary and start datetime/date of the next ten events in
       * the authorized user's calendar. If no events are found an
       * appropriate message is printed.
       */
      function listUpcomingEvents() {
        gapi.client.calendar.events.list({
          'calendarId': 'primary',
          'timeMin': (new Date()).toISOString(),
          'showDeleted': false,
          'singleEvents': true,
          'maxResults': 10,
          'orderBy': 'startTime'
        }).then(function(response) {
          var events = response.result.items;
          if (events.length > 0) {
            var next = events[0];
            setupCalendar(next);
          } else {
            $('#schedule-text').append("You don't have anything coming up soon.");
          }
        });
      }

    function formatAMPM(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return strTime;
    }

      function setupCalendar(next) {
          console.log(next);
          var text = "";
          var today = new Date();
          var appt = new Date(next.start.dateTime);
          console.log();
          if (Math.round((new Date(appt).setHours(0,0,0,0)-  new Date(today).setHours(0,0,0,0))/(1000*60*60*24)) < 2) {
              text += "Your next event is <span style='font-weight: 500;'>" + next.summary + "</span>";
              if (new Date(appt).setHours(0,0,0,0) == new Date(today).setHours(0,0,0,0)) {
                  text += " today at <span style='font-weight: 500;'>" + formatAMPM(appt) + "</span>. ";
              } else {
                  text += " tomorrow at <span style='font-weight: 500;'>" + formatAMPM(appt) + "</span>. ";
              }
              var minutesTD = Math.round(Math.round(appt - today)/(1000*60));
              if (minutesTD <= 15) {
                  text += "You've got about 15 minutes";
              } else if (minutesTD >= 15 && minutesTD <= 25) {
                  text += "You have a little under half an hour ";
              } else if (minutesTD >= 25 && minutesTD <= 45) {
                  text += "You have about half an hour ";
              } else if (minutesTD > 45 && minutesTD < 75) {
                  text += "You have about an hour ";
              } else if (minutesTD >= 75 && minutesTD < 300) {
                  text += "You have about " + (Math.round(minutesTD/6)/10).toString() + " hours ";
              } else if (minutesTD >= 300) {
                  text += "You have plenty of time ";
              }
              if (next.location != null) {
                  text += "to get to: <span style='font-weight: 500;'>" + next.location + '</span>.';
              }  else {
                  text += "to get to your event.";
              }
          } else {
              text = "You don't have anything coming up soon.";
          }
          $('#schedule-text').append(text);
      }

    </script>

    <script async defer src="https://apis.google.com/js/api.js"
      onload="console.log('done');this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()"; />

    <script>

    </script>
</html>