{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}

<form action="" method="POST" class="form" role="form" style="background-color: #EFEFEF; padding: 25px; border-radius: 1%;">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6 text-left">
                <label for="new_password" class="control-label">New Password</label>
            </div>
        </div>
        <div class="mdl-textfield mdl-js-textfield" style="padding-top: 5px; padding-bottom: 5px;">
                <input class="mdl-textfield__input" id="new_password" name="new_password" tabindex="260" type="password" value="">
        </div>
    </div>
    {% if user_manager.enable_retype_password %}
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <label for="retype_password" class="control-label">Confirm Password</label>
                </div>
            </div>
            <div class="mdl-textfield mdl-js-textfield" style="padding-top: 5px; padding-bottom: 5px;">
                    <input class="mdl-textfield__input" id="retype_password" name="retype_password" tabindex="270" type="password" value="">
            </div>
        </div>
    {% endif %}
     <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
        value="Register" tabindex="280">
        Change Password
    </button>
</form>

{% endblock %}